# Basic Data Types

In [47]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

I have learned strings

In [6]:
e_mail = 'joseph@clarusway.com' # surrounded with single quotes
print(e_mail)

joseph@clarusway.com

In [7]:
print('632') # this is also a string type

632

In [9]:
text = "I'm string type"
print(text)

I'm string type

In [11]:
tv_open = True  # it seems TV is on now
print(tv_open)

True

In [13]:
is_rainy = False  # I love sunny weather
print(is_rainy)

False

In [16]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [17]:
example2 = '71'
print(type(example2))

<class 'str'>

In [18]:
example3 = 71
print(type(example3))

<class 'int'>

In [19]:
example4 = 71.0
print(type(example4))

<class 'float'>

In [20]:
example5 = 3.14j
print(type(example5))

<class 'complex'>

In [21]:
example6 = True
print(type(example6))

<class 'bool'>

In [22]:
f = 3.14  # the type is float
print(type(f))

<class 'float'>

In [23]:
f = 3.14  # the type is float

s = str(f)  # converting float to string
print(type(s))

<class 'str'>

In [24]:
f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded
print(i, '\n')
print(type(i))

3

<class 'int'>

In [25]:
i = 3

f = float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [26]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [27]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [28]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [29]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

# Simple Operations

In [49]:
print(4 + 11) # sum of integers gives integer
print(39 + 1.0) # sum of an integer and float gives float

15
40.0

In [9]:
no1, no2 = 46, 52
no3 = no1 - no2
print(no3)

-6

In [11]:
no1 = 46
print(no1/23)  # division gives float

2.0

In [12]:
print((3 * 4)/2)  # parentheses are used as in normal mathematics operations

6.0

In [13]:
print(7 // 2)  # it gives integer part of division

3

In [14]:
print(9 % 2)  # remainder of this division is 1
# it means 9 is an odd number

1

In [19]:
print(3**2)  # three to the power two

9

In [20]:
print(2**3)

8

In [21]:
print(64**0.5)  # square root

8.0

In [22]:
print('Result of this (12+7) sum :', 12 + 7)

Result of this (12+7) sum : 19

There is a list of priorities for all considered operations: it is worth keeping this priority in your mind.

parentheses : ()
power : **
unary minus : -3
multiplication and division : *, /
addition and subtraction : +, -

In [23]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [24]:
print("yesterday I ate", 2, "apples")

yesterday I ate 2 apples

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [25]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

i will say 'i missed you' to my mother

In [26]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

Any mathematics operator can be used before the = character to make an in-place operation:

-= decrements the variable in place,
+= increment the variable in place,
*= multiply the variable in place,
/= divide the variable in place,
//= ﬂoor divide the variable in place,
%= returns the modulus of the variable in place,
**= raise to power in place.

In [27]:
x = 5
print ('value of x       : ', x)

x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z       : ', z)

z *= 2
print ("2 times z        : ", z, "\n")

value of x       :  5
2 more of x      :  7

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

In [28]:
fruit = 'Orange'
vegetable = "Tomato"
print (fruit, """ and """ , vegetable)

Orange  and  Tomato

\n : means new line,
\t : means tab mark,
\b : means backspace. It moves the cursor one character to the left.

In [29]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [30]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [31]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

we are united

In [32]:
print('it\'s funny to learn Python')  # ' to be ignored. So it gives no error.

it's funny to learn Python

# Boolean Operations

In [33]:
logic = True and False or not False or False
print(logic)

True

In [34]:
print(2 and 3)

3

In [35]:
print(1 and 0)

0

In [36]:
print(1 and "I am doing good!")

I am doing good!

In [37]:
print([] and "Hello World!")

[]

In [38]:
print(2 or 3)

2

In [39]:
print(None or 1)

1

In [40]:
print(0 or {})

{}

In [41]:
print([] or "Hello World!")

Hello World!

Q: What are the values evaluated to False when applied to a Boolean operator?
A:

None and False.
Zero of any numeric type: 0, 0.0, 0j.
Empty sequences and collections: '', [], {}.
Any remaining value is evaluated as True.

# The Strength of String in Python

# Indexing String

# The formula syntax of string indexing is : string[start:stop:step]

In [42]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

string[:] : returns the full copy of the sequence
string[start:] : returns elements from start to the end element
string[:stop] : returns element from the 1st element to stop-1
string[::step] : returns each element with a given step

In [43]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [44]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [45]:
str = 'Python Language'
print(str[4:])

on Language

String Formatting with Arithmetic Syntax
String Formatting with '%' Operator
String Formatting with 'string.format()' Method
String Formatting with 'f-string'

# String Formatting with Arithmetic Syntax

In [51]:
print('clarus' + 'way')

clarusway

In [53]:
print(3*'no way!')

no way!no way!no way!

In [54]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [55]:
fruit = 'orange'
fruit += ' apple'  # we can do addition operation in-place

print(fruit)

orange apple

In [56]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

# String Formatting with '%' Operator

# '%s' syntax   : string
# '%f' syntax : float
# '%d' syntax   : numerik

In [57]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

'%s' syntax   : stringler icin.
'%.2f' syntax : floatlar icin. bu gosterimde noktadan sonra 2 hane
'%d' syntax   : numerikler icin.

In [58]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence)  # stringin ilk 11 karakterini aliyor

apologizing

In [59]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})
# % ile degisken de belirleyebiliriz. 
# Bu ornekte amount ve fruit degiskeninine deger atamasi dictionary-suslu parantez ile yapildi
# dictionary collection types konusu!

33 pounds of bananas left

In [62]:
x = "HelloWorld!"
print('%.5s' % x)

Hello

# String Formatting with 'string.format()' Method

In [93]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4

print('The amount of {} we bought is {} pounds'.format(fruit, amount))  
# degisken degerlerini yukaridan ceker

print('The amount of {fruit} we bought is {amount} pounds'.format(fruit='Orange', amount = 4))  
# degisken degerleri parantez icinde verilir

The amount of Orange we bought is 4 pounds
The amount of Orange we bought is 4 pounds

Positional arguments, konumlarıyla çağrılabilen bağımsız değişkenlerdir. 
Keyword arguments, adlarıyla çağrılabilen bağımsız değişkenlerdir.
Positional arguments'den önce Keyword arguments yazmamaya dikkat edin. Hata verir!

In [85]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA
California is the most crowded state of the USA

In [80]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [88]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

# String Formatting with 'f-string'

# f"strings {variable1} {variable2} string {variable3}"

In [89]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [ ]:
# Süslü parantezin icinde tüm geçerli ifadeleri, değişkenleri ve hatta yöntemleri kullanabilirsiniz.

In [99]:
result1 = f"{4 + 5}"
print(result1)

result2 = f"{'4' + '5'}"
print(result2)

result3 = f"(4 + 5)"
print(result3)

9
45
(4 + 5)

In [100]:
result = f"{4 * 5}"

print(result)

20

In [106]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

My name is Joseph

In [ ]:
# coklu satirda f.string kullanimi

In [107]:

name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [108]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [111]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6

print('The amount of %(fruit)s we bought is %(amount)d pounds' % {'fruit': 'Orange', 'amount':4})  
# % ile degisken degerleri parantez icinde verilir

print('The amount of {} we bought is {} pounds'.format(fruit, amount))  
# degisken degerlerini yukaridan ceker

print('The amount of {fruit} we bought is {amount} pounds'.format(fruit='Orange', amount = 4))  
# degisken degerleri parantez icinde verilir

print(f'The amount of {fruit} we bought is {amount} pounds')
# f.string ile degisken degerlerini yukaridan ceker

The amount of Orange we bought is 4 pounds
The amount of Orange we bought is 6 pounds
The amount of Orange we bought is 4 pounds
The amount of Orange we bought is 6 pounds

# Main String Operations

# Arama islemleri (Searching)

# string.startswith(prefix[, start[, end]])

# string.endswith(suffix[, start[, end]])

In [113]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [114]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [119]:
# Arama alanlarini sinirlandiralim

email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [124]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase[14])  # 14.indeksimiz @
print(phrase.startswith("@", 14))  # 14.indekse bakacak

print(phrase[15])  # 15.indeksimiz c
print(phrase[23])  # 23.indeksimiz y
print(phrase.endswith(".", 15, 24))  # 15.indeksten 23.indekse kadar bakacak

28
@
True
c
y
False

# Degistirme İslemleri (Changing)

# str.replace(old, new, count) : eski karakteri yeni karakterle degistirir. 

# str.swapcase() : buyugu kucuk kucugu buyuk yapar

# str.capitalize() : ilk karakteri buyuk digerlerini kucuk yapar

# str.upper() : tum karakterleri buyuge cevirir

# str.lower() : tum karakterleri kucuge cevirir

# str.title() : her kelimenin bas harfini buyuk harfe cevirir

In [125]:
sentence = "I live and work in Virginia"

print(sentence.upper())  
print(sentence.lower())
print(sentence.swapcase())
print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [ ]:
# string immutable yani degistirilemez. degistirmek icin once kopyasini olusturmaliyiz.
# yani bir baska degiskenin icine atamalıyız. (assign)

In [136]:
sentence = "I live and work in Virginia"

# alttaki denemede herhangi bir degisiklik olmaz! Immutable ozelligi
sentence.title()
print(sentence)

# sentence degiskenini title_sentence degiskenine atadiktan sonra degisiklik yapabiliyoruz!
title_sentence = sentence.title() 
print(title_sentence)  

# sentence degiskenini changed_sentence degiskenine atadiktan sonra degisiklik yapabiliyoruz!
changed_sentence1 = sentence.replace("i", "+")     # default deger -1 dir. Tum "i" leri "+" yapar.
changed_sentence2 = sentence.replace("i", "+", 3)  # Sadece ilk 3 adet "i" yi "+" yapar
print(changed_sentence)  

print(sentence)

I live and work in Virginia
I Live And Work In Virginia
I l+ve and work +n V+rginia
I live and work in Virginia

In [127]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [137]:
# Methotlari arka arkaya gerceklestirme yetenegi

print("Actions speaks louder than words".upper().swapcase().capitalize())

Actions speaks louder than words

# Duzenleme Islemleri (Editing)

# str.strip() : her iki taraftan bosluk yada harf siler

# str.rstrip() : sag taraftan bosluk yada harf siler

# str.lstrip() : sol taraftan bosluk yada harf siler

In [138]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first

In [139]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides

nteroperabilit

In [140]:
source_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side

teroperability

In [141]:
space_string = "     listen first      "
print(space_string.rstrip())  # removes spaces from the right side

     listen first

In [142]:
source_string = "interoperability"
print(source_string.rstrip("yt"))  
# removes "y" or "t" or "yt" or "ty" from the right side

interoperabili

In [143]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.