# LISTS

# Syntax: list_1 = [True, 'Space', 20]

# Syntax: list_2 = list('string')

# Syntax: list_3 = ([1, 2, 3])

## İndekslenebilirler.

## Mutable (degisitirilebilir)

## list koseli parantez ve virgul kullanarak olusturulur.

## icinde birden cok veri tipi saklanır.

## Saklandıkları sırayla yazilirlar.

### an iterable object: that is, type of object whose elements you can import individually.
### Python'da gezinilebilen (iterable) nesne olarak kullanılabilen bir nesneye iterable obje denir. Bu temel olarak nesnedeki dizinin gezinilebileceği ve ilerlenebileceği anlamına gelir.

In [40]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [41]:
# list fonksiyonu kullanarak list olusturma
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # cok elemanlı list olusturduk. 
                             # Sonuctan gorulecegi gibi ayni deger (ornegin 'i') birden cok yer alabilir.
print(new_list_1)
print(len(new_list_1))

new_list_2 = [string_1]  # dikkat! burada  tek elemanlı bir list olusur. 
print(new_list_2)
print(len(new_list_2))

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
14
['I quit smoking']
1

In [14]:
# list icinde birden farkli veri tipleri saklanabilir.

mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]  # dikkat! List elemanlari arasina list ([1, 2, 3]) koyabiliyoruz.
print(mixed_list)
print(len(mixed_list))

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]
6

In [15]:
warning = 'You must quit smoking!' # bosluklar ve unlem dahil 22 karakter var. 
                                   # list fonksiyonu kullanarak hepsini birbirinden ayirinca 22 elemanlı bir list olusur.

print(len(list(warning)))

22

In [18]:
# bos list olusturma. eleman sayisi 0.

empty_list_1= []
empty_list_2 = list()
print(len(empty_list_1))
print(len(empty_list_2))

0
0

In [20]:
# bos listeye .append ile ekleme yapalim. Arka arkaya ekler.

empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')

print(empty_list_1)
print(len(empty_list_1))

['114', 'plastic-free sea']
2

In [22]:
# Varolan listenin sonuna .append ile ekleme yapalim. En sona ekleme yapar.

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')

print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [31]:
# Varolan listenin herhangi bir yerine .insert ile ekleme yapalim.

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
print(city)
print(len(city))

city.insert(2, 'Stockholm')  # 2.indekse ekleme yapti. Dikkat! indeks 0'dan baslar.
print(city)
print(len(city))

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
6
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
7

In [34]:
# list den .remove ile eleman silme

city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
print(city)
print(len(city))

city.remove('London')
print(city)  # 'London' silindi
print(len(city))

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
7
['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
6

In [35]:
# list elemanlarini .sort ile alfabetik siraya dizelim

city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
print(city)

city.sort()  # list alfabetik siraya gore olusur
print(city)

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [36]:
# list bir integer ile carpalim. Carpim miktari kadar kendini tekrar eder.

my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [39]:
# belirli bir indeks numarasina eleman atayalim.

city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
print(city) 
city[1] = 'Melbourne'  # 1.indekse 'Melbourne' ü atayalim.
print(city)  #  'Stockholm' slindi, 'Melbourne' yazildi.

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

## Accessing Lists

In [ ]:
# Bir listedeki her elemana ya da bir stringin her bir karakterine indeksleme ile ulasabiliriz

In [43]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(len(colors))  # Toplam indeks sayimiz: 5
print(colors[2])  # Dikkat indeks 0'dan baslar. 2.indeksimiz 'blue'

5
blue

In [42]:
# bos olan bir list e dolu bir list i ekleyelim 
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(len(city))  # indeks uzunlugu yani eleman sayisi 5 olacak

city_list = []
print(len(city_list))  # indeks uzunlugu 0 olacak

city_list.append(city) # bos list e dolu list i ekledik. 
                       # Dikkat! dolu list tek bir eleman gibi eklenecek
                       # sonuca dikkat edelim. iki koseli parantez ic ice (nested) gecmis

print(city_list)
print(len(city_list))  # indeks uzunlugu 1 olacak

5
0
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
1

In [43]:
# yukarida indeks uzunlugu : len(city_list) = 1 idi. Yani tek bir elemani var.
# simdi 0.indekste yer alan bu bir elemani yazdiralim

city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0])

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [44]:
# yukarida indeks uzunlugu : len(city_list) = 1 idi. Yani tek bir elemani var.
# simdi 0.indekste yer alan bu bir elemanin 2.indeksinde yer alan elemanini yazdiralim

city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [45]:
# yukarida indeks uzunlugu : len(city_list) = 1 idi. Yani tek bir elemani var.
# simdi 0.indekste yer alan bu bir elemanin 2.indeksinde yer alan elemaninin 3.indeksindeki elemanini yazdiralim

city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [49]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(len(odd_numbers))
print(odd_numbers[6])

8
27

In [51]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits) # bos olan fruit_list in 0.indeksine fruits list i tek bir eleman olarak ekliyoruz.

print(fruit_list)  # dikkat!2 tane koseli parantez var
print(len(fruit_list))  # eleman sayisi 1 dir.
print(fruit_list[0][2][7])  # 0.indeksin 2.indeksinde watermelon, onun 7.indeksinde ise l harfi vardir.

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]
1
l

## Liste Dilimleme (Slicing) sequence[start:stop:step]

In [47]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # 5 dahil olmayacak sekilde 2.indeksten 5.indekse kadar olan (yani 2., 3., 4.) elemanlari yazdiriyoruz

[5, 7, 9]

In [50]:
# range komutu ile sayi dizisi olusturulur
even_numbers1 = list(range(11))
even_numbers2 = list(range(0,11,2))

print(even_numbers1[0:11:2])  # 0.indeksten 11.indekse (11 haric) iki atlayarak sayilari yazdiriyoruz.
print(even_numbers2)

odd_numbers1 = list(range(11))
odd_numbers2 = list(range(1,11,2))
print(odd_numbers1[1:11:2])  # 1.indeksten 11.indekse (11 haric) iki atlayarak sayilari yazdiriyoruz.
print(odd_numbers2)

[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [56]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # list in tum elemanlarini yazdirir
print(animals[3:])  # list in 3.indeksten son indekse kadar tum elemanlarini yazdirir
print(animals[:5])  # list in 0.indeksten 5.indekse kadar (5 haric) tum elemanlarini yazdirir
print(animals[::2])  # list in 0.indeksten son indekse kadar tum elemanlarini iki atlayarak yazdirir

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
['wolf', 'rabbit', 'deer', 'giraffe']
['elephant', 'bear', 'fox', 'wolf', 'rabbit']
['elephant', 'fox', 'rabbit', 'giraffe']

In [57]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])  # 4.indeksten 9.indekse (9 haric) sayilari yazdirir.

[10, 12, 14, 16, 18]

In [60]:
print(len([[12, 34, 56]]))  # dikkat! 2 tane koseli parantez ic ice. list icinde list. eleman sayisi 1

1

In [78]:
print(len([[12, 34, 56]][0]))  # dikkat! 2 koseli parantez var. 
                               # [[12, 34, 56]] list inin 0.indekste yer alan tek bir elemani var. O da bir list [12, 34, 56].
                               # Dolayisiyla 0.indekste yer alan elemanin 0.indeksi [12, 34, 56]
                               # [12, 34, 56] 'in uzunlugu ise 3'

# Soyle yaparsak daha rahat gorebiliriz. a degiskenine [12, 34, 56] listesini atayalim
a = [[12, 34, 56]]
print(len(a))       # a degiskeninin uzunlugu 1
print(a[0])         # a degiskeninin 0.indeksi [12, 34, 56]
print(len(a[0]))    # a degiskeninin 0.indeksinin uzunlugu dolayisiyla 3 olur.

3
1
[12, 34, 56]
3

In [79]:
# Negatif İndeksleme
# en sagdaki yani en sondaki indeks -1. sola dogru -1 azalarak geliyoruz.

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])  # en sagdaki -1.indeks ve sadece onu yazar

London

In [80]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])  # -3.indeksten en sona kadar olanlari yazar

['lobster', 'squid', 'octopus']

In [81]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])  # 0.indeksten -3.indekse kadar (-3 haric) olanlari yazar

['swordfish', 'shark', 'whale', 'jellyfish']

In [112]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # tum listeyi tersten yazar
reef.reverse()  # tum listeyi tersten yazdirmanin bir diger yolu .reverse komutudur
print(reef)

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']
['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [83]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])  # tum listeyi tersten ama 1 atlayarak yazar

['octopus', 'lobster', 'whale', 'swordfish']

In [84]:
# negatif adım seçersek, start degeri end degerinden buyuk olmalidir.

odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

# TUPLES

# Syntax: tup_1 = (True, 'Space' , 20)

# Syntax: tup_2 = ([1, 2, 3],)

# Syntax: tup_3 = (3+4j,)

# Syntax: tup_4 = 'red', 'blue', 'pink', 'red'

# Syntax: tup_5 = 1, 2, 3, 4

# Syntax: tup_6 = 1+2j, 2+3j, 3+4j, 4+5j

# Syntax: tup_7 = tuple('Space')

# Syntax: tup_8 = tuple([1, 2, 3, 4])

## Normal parantez ve virgul kullanilir

## immutable yani degistirilemez

## İndekslenebilir.

## icinde birden cok veri tipi saklanır.

## .append, .remove calismaz. 

## Daha hizlidir.

In [44]:
# bos tuple olusturalim

empty_tuple = ()

print(empty_tuple)  # bos bir tuple olusturduk
print(type(empty_tuple))  # sinifi tuple
print(len(empty_tuple))  # eleman sayisi 0

()
<class 'tuple'>
0

In [2]:
try_tuple = ('love')
print(try_tuple)
print(len(try_tuple))
print(type(try_tuple)) # virgul eklemezsek bunu string kabul eder.

try_tuple = ('love',)  # virgul ekleyince tek elemanli tuple olustu
print(try_tuple)
print(len(try_tuple))
print(type(try_tuple))

love
4
<class 'str'>
('love',)
1
<class 'tuple'>

In [99]:
planets = 'mercury', 'jupiter', 'saturn' # birden cok elemanli tuple olusturmak icin araya virgul koymak yeterli
planets2 = ('mercury', 'jupiter', 'saturn')  # parantezli yada parantezsiz farketmez ikisi de tuple olur

print(planets)
print(type(planets))
print(type(planets2))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>
<class 'tuple'>

In [115]:
# tuple fonksiyonu
empty_tuple_1 = tuple()

print(empty_tuple_1)  # bos bir tuple olusturduk
print(type(empty_tuple_1))  # sinifi tuple
print(len(empty_tuple_1))  # eleman sayisi 0

()
<class 'tuple'>
0

In [118]:
# list ve tuple lari birbirine donusturelim
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)  # normal parantez, bu bir tuple
my_list = list(my_tuple)  # list fonksiyonu ile tuple list e cevrildi
print(type(my_list), my_list)

my_list = [1, 4, 3, 4, 5, 6, 7, 4]  # koseli parantez, bu bir list
my_tuple = tuple(my_list)  # tuple fonksiyonu ile list tuple a cevrildi
print(type(my_tuple), my_tuple)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]
<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [123]:
# stringi tuple a cevirelim
mountain = tuple('Alps')

print(mountain, type(mountain), len(mountain))

('A', 'l', 'p', 's') <class 'tuple'> 4

In [124]:
# farkli degerleri ayni tuple a atayalim
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [125]:
# tuple da indeksleme
even_no = (0, 2, 4)
print(even_no[0])  # 0.indeksi yazar 
print(even_no[1])  # 1.indeksi yazar   
print(even_no[2])  # 2.indeksi yazar  
print(even_no[3])  # 3.indeksi olmadigi icin yazamaz hata verir. out of range yani boyutu astiniz!

0
2
4

IndexError: tuple index out of range

In [127]:
# tuple immutable oldugu icin, list deki gibi assignment yani atama yapamiyoruz!
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']  # bu bir list ve asagidaki gibi atama yapabiliriz

city_list[0] = 'Athens'  # 'Tokyo' yerine 'Athens' atandi
city_list[1] = 'Cairo'  # 'Istanbul' yerine 'Cairo' atandi
print(city_list)

city_tuple = tuple(city_list)  # list'i tuple'a cevirdik
city_tuple[0] = 'New York'  # Burada tuple'in 0.indeksine 'New York' un atamasi yapilamaz. hata verir!

['Athens', 'Cairo', 'Moskow', 'Dublin']

TypeError: 'tuple' object does not support item assignment

In [128]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])  # tuple'a .append ile eleman ekleyemeyiz. Hata verir!

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [13]:
reef1 = ['swordfish', 'shark', 'whale']
reef2 = list(reef1)

reef3 = 'swordfish'
reef4 = list(reef3)

print(reef2)
print(len(reef2))

print(reef4)
print(len(reef4))

['swordfish', 'shark', 'whale']
3
['s', 'w', 'o', 'r', 'd', 'f', 'i', 's', 'h']
9

In [14]:
nm = list()
nm.append(1)
nm.append(2)
nm.append(3)
nm.append(4)
print(nm)

[1, 2, 3, 4]

In [17]:
nm = [1, 4, 7]
nm.insert(2, 9)
print(nm)
nm.insert(2, 6)
print(nm)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

In [23]:
a = list(range(1,5))
print(a)
a.insert(4, 5)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [27]:
numbers = [1,2,3,4]
numbers.insert(4,5)
print(numbers)

[1, 2, 3, 4, 5]

In [29]:
a = ['d', 1, 'a', 7]
a.sort()
print(a)

TypeError: '<' not supported between instances of 'int' and 'str'

In [38]:
list1 = ['one', 'four', 'nine']
list1.sort()
print(list1)

list2 = ['*-', '@', 'False']
list2.sort()
print(list2)

list3 = [True, False]
list3.sort()
print(list3)

list4 = [[3], [44], [-12]]
list4.sort()
print(list4)

list5 = [[1, 3], [44, -40], [-12, 1, -1], [-12, 1]]
list5.sort()
print(list5)

['four', 'nine', 'one']
['*-', '@', 'False']
[False, True]
[[-12], [3], [44]]
[[-12, 1], [-12, 1, -1], [1, 3], [44, -40]]

In [50]:
n1 = list(range(11))
print(n1)
print(type(n1))
print(len(n1))

print()

n2 = tuple(range(11))
print(n2)
print(type(n2))
print(len(n2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
11

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>
11

In [51]:
n1 = list(range(11))
n1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
mlist = [1, [1, "one", 2, "two", 3, "three"], 4]
print(mlist[0], mlist[1][0], mlist[1][2], mlist[1][4], mlist[2]) # sadece int leri secip alalim
print(mlist[1][1::2])  # sadece string leri alalim

1 1 2 3 4
['one', 'two', 'three']

# Dictionaries

# Syntax: dict_1 = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

## Mutable (degistirilebilir)

## İndekslenemez.

## icinde birden cok veri tipi saklanır.

## dict suslu parantez, virgul ve iki nokta üst üste kullanarak olusturulur.

## dict icinde birden cok item (key-value çifti) saklanır.

## dict() fonksiyonu ile de dictionary olusturulabilir. 

## dict() fonksiyonu ile dictionary olustururken key icin tırnak isareti kullanılmaz.

In [8]:
empty_dict_1 = {}
empty_dict_2 = dict()

print(empty_dict_1)
print(empty_dict_2)

print(type(empty_dict_1))
print(type(empty_dict_2))

print(len(empty_dict_1))
print(len(empty_dict_2))

{}
{}
<class 'dict'>
<class 'dict'>
0
0

In [14]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [17]:
# Accessing Items
# Bir item a ulasmak koseli parantez kullanarak yapilir.
# accessing (ulasip okuma) islemi koseli parantez ile yapilir

state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }
print(state_capitals['Colorado']) # accessing method

Denver

In [18]:
# bir key'e bir value assign ederek ekleme yapalim (adding)
# yeni bir key-value ciftini ekleme islemi key'i koseli parantezde gostererek yapilir

state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item by assigning 

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [22]:
# farkli tipte degerleri icerebilir

mix_dict = {'animal': ('dog', 'cat'),  # tuple type
            'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
            'number': 40,  # int type
            'pi': 3.14,  # float type
            'is_good': True}  # bool type

print(mix_dict)
print(len(mix_dict))
print(type(mix_dict))

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
5
<class 'dict'>

In [29]:
# yukaridakinin aynisini dict fonksiyonu ile olusturalim
# dict fonksiyonu kullanilirken key icin tırnak ('') kullanmıyoruz!

dict_by_dict = dict(animal=('dog', 'cat'), planet=['Neptun', 'Saturn', 'Jupiter'], number=40, pi=3.14, is_good=True)

print(dict_by_dict)
print(len(dict_by_dict))

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
5

In [27]:
# yukaridaki ornekte ufak bir degisiklik yapalim
# list ve tuple tiplerini kullanmayalim. 
# Bunun yerine dog ve neptun stringlerini kullanalim

dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)
print(len(dict_by_dict))

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}
5

## Main Operations with Dictionaries

In [32]:
# items, keys ve values a ulasmak icin bircok yontem vardir.
# .items() method, 
# .keys() method, 
# .values() method

dict1 = {'animal': 'dog',
        'planet': 'neptun',
        'number': 40,
        'pi': 3.14,
        'is_good': True}

print(dict1.items(), '\n')
print(dict1.keys(), '\n')
print(dict1.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [33]:
#.update metodu ile de dictionary icine yeni items ekleyebiliriz

dict2 = {'animal': 'dog',
         'planet': 'neptun',
         'number': 40,
         'pi': 3.14,
         'is_good': True}

dict2.update({'is_bad': False})

print(dict2)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [35]:
# Silme islemi
# syntax: del dictionary_name['key']

dict3 = {'animal': 'dog',
         'planet': 'neptun',
         'number': 40,
         'pi': 3.14,
         'is_good': True,
         'is_bad': False}

print(dict3)
print(len(dict3))

del dict3['animal']
print(dict3)
print(len(dict3))

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
6
{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
5

In [37]:
# dictionary icinde bir key'in olup olmadigina bakalim
# in ya da not in ile bakiyoruz
# in ile baktigimiz key dictionary icinde var ise cevap true, yoksa false
# not in ile baktigimiz key dictionary icinde yok ise cevap true, varsa false

dict4 = {'planet': 'neptun',
         'number': 40,
         'pi': 3.14,
         'is_good': True,
         'is_bad': False}

print(dict4)
print('pi' in dict4) 
print('animal' not in dict4)  # az once 'animal' key ini silmistik
print('animal' in dict4)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
True
True
False

In [43]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages)
print(student_ages['Clark'])

{'Harry': 29, 'Clark': 32, 'Peter': 22, 'Bruce': 36}
32

## Nested Dictionaries

In [56]:
# bu ornekte ic ice (nested) iki ayri dictionary var. birincisi personal_info ikincisi grades_info

school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
                },               
        },        
}

print(school_records, '\n')
print(len(school_records), '\n')
print(type(school_records), '\n')
print(school_records['personal_info'], '\n')
print(school_records['grades_info'], '\n')

{'personal_info': {'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}, 'grades_info': {'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}}, 'teen': {'joseph': {'coding': 80, 'math': 89}, 'marry': {'coding': 70, 'math': 96}}}}

2

<class 'dict'>

{'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}

{'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}}, 'teen': {'joseph': {'coding': 80, 'math': 89}, 'marry': {'coding': 70, 'math': 96}}}

In [57]:
# nested dictionary icindeki bir degere ulasalim

school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
                },               
        },
}

# school_records dictionary de personal_info key var.
# personal_info key icinde teen key'i var. 
# teen key icinde marry key'i var. 
# marry key icinde age key'i var. Peki son tarifledigimiz key'in value suna bakalim?

print(school_records['personal_info']['teen']['marry']['age'])

16

In [58]:
# bir baska ornek ile pekistirelim
# sue'nun math notu 90, bunu ekrana yazdiralim.

school_records={
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
                },               
        },
}

print(school_records['grades_info']['kid']['sue']['math'])

90

In [60]:
# Lisa'nın yasina nasil ulasiriz

customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers['insurance'][5]['age'])

22

# Sets

# Syntax: set1 = set([True, 'Space' , 20])

# Syntax: set2 = set((True, 'Space' , 20))

# Syntax: set3 = set('string')

# Syntax: set4 = {True, 'Space' , 20}

## Suslu parantez ya da set fonksiyonu ile set olusturulur.

## Ancak bos set olusturmanın tek yolu set fonksiyonu kullanmaktır. Suslu parantezin ici bos birakilirsa dict olusur.

## Mutable (degistirilebilir)

## İndekslenemez.

## Degerleri essizdir, tekrar eden degerlerden olusmaz.

## icinde birden cok veri tipi saklanır.

In [117]:
set1 = set([True, 'Space' , 20])  # koseli parantez icerisinde yer alan list'i set'e ceviriyoruz
set2 = set((True, 'Space' , 20))  # normal parantez icerisinde yer alan tuple'ı set'e ceviriyoruz
set3 = {True, 'Space' , 20}  # süslü parantez ile dogrudan set olusturduk

print(set1)
print(len(set1))
print(type(set1), '\n')

print(set2)
print(len(set2))
print(type(set2), '\n')

print(set3)
print(len(set3))
print(type(set3), '\n')

{True, 20, 'Space'}
3
<class 'set'>

{True, 20, 'Space'}
3
<class 'set'>

{True, 20, 'Space'}
3
<class 'set'>

In [142]:
a1 = [1, 2, 2, 3, 4, 5]  # bu bir list
set_a1 = set(a1)  # set fonksiyonu ile list'den set olusturduk
print(a1)
print(type(a1))
print(set_a1)
print(type(set_a1))

[1, 2, 2, 3, 4, 5]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>

In [143]:
a2 = (1, 2, 2, 3, 3, 4)  # bu bir tuple
set_a2 = set(a2)  # set fonksiyonu ile tuple'dan set olusturduk
print(a2)
print(type(a2))
print(set_a2)
print(type(set_a2))

(1, 2, 2, 3, 3, 4)
<class 'tuple'>
{1, 2, 3, 4}
<class 'set'>

In [144]:
set_a3 = {1, 2, 3, 4}  # dogrudan set olusturduk
print(set_a3)
print(type(set_a3))

{1, 2, 3, 4}
<class 'set'>

In [148]:
# flower_list isimli list 7 elemanlı, içinde tekrar eden elemanlar var. rose 3 kez, orchid 2 kez tekrar ediyor.
# flower_list isimli list'i set fonksiyonu ile flowerset1 isimli set'e cevirince tekrar eden elemanlari siliyor.
# Dolayisiyla flowerset1 isimli set'in eleman sayisi 4 olur
# Elaman sayisi 4 olan flowerset1 isimli set'i list fonksiyonu ile tekrar flowerlist isimli list'e cevirelim. Artik eleman sayisi 4 olur
# Tuple'dan set'e sonra tekrar set'ten tupla'a cevirme islemini flower_tuple, flowerset2, flowertuple uclusu icin de yaptim

flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flower_tuple = ('rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid')
flowerset1 = set(flower_list)
flowerset2 = set(flower_tuple)
flowerlist = list(flowerset1)
flowertuple = tuple(flowerset2)

print(flower_tuple)
print(len(flower_tuple))
print(type(flower_tuple), '\n')

print(flower_list)
print(len(flower_list))
print(type(flower_list), '\n')

print(flowerset1) 
print(len(flowerset1))
print(type(flowerset1), '\n')

print(flowerset2) 
print(len(flowerset2))
print(type(flowerset2), '\n')

print(flowerlist)
print(len(flowerlist))
print(type(flowerlist), '\n')

print(flowertuple)
print(len(flowertuple))
print(type(flowertuple), '\n')

('rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid')
7
<class 'tuple'>

['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
7
<class 'list'>

{'carnation', 'rose', 'violet', 'orchid'}
4
<class 'set'>

{'carnation', 'rose', 'violet', 'orchid'}
4
<class 'set'>

['carnation', 'rose', 'violet', 'orchid']
4
<class 'list'>

('carnation', 'rose', 'violet', 'orchid')
4
<class 'tuple'>

In [149]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

# ders notlarinda her print denemesinde farkli sirada gorecegiz deniyor 
# ama burada sanirim jupter den kaynakli hep ayni cevap geliyor

print(colorset)
print(colorset)

{'orange', 'darkblue', 'purple', 'red', 'yellow'}
{'orange', 'darkblue', 'purple', 'red', 'yellow'}

In [159]:
# bir stringi set fonksiyonu ile set'e cevirebiliriz. Yine tekrar eden elemanlar silinir
s = set('unselfishness')

print(s)

{'e', 's', 'l', 'u', 'i', 'h', 'f', 'n'}

## Main Operations with Sets

In [160]:
# Sete bir item ekleme ya da setten bir item silmek icin farkli metotlar vardir
# Dahası, kümelerin kesişme, birleşme ve farklılaşma yöntemlerine sahibiz.
# .add() : Kümeye yeni bir öğe ekler.
# .remove() : Bir öğeyi silmemizi sağlar.
# .intersection() : İki kümenin kesişimini döndürür. 
# .union() : İki kümenin birleşmesini döndürür.
# .difference() : İki setin farkını alır.

In [198]:
a1 = set('abracadabra')

print(a1)

{'r', 'c', 'd', 'a', 'b'}

In [199]:
# fark islemi

a2 = set('abracadabra')
b2 = set('alacazam')

print(a2)
print(b2)

print(a2 - b2)  # '.difference()' methodu ile ayni sonucu verir
print(a2.difference(b2)) # a nin b den farki

{'r', 'c', 'd', 'a', 'b'}
{'l', 'c', 'z', 'm', 'a'}
{'r', 'b', 'd'}
{'r', 'b', 'd'}

In [213]:
# birlesim islemi

a3 = set('abracadabra')
b3 = set('alacazam')

birlesim = a3.union(b3)
print(birlesim)

print("a3 ile b3 nin birlesimi: ", a3 | b3)  # '.union()' methodu ile ayni sonucu verir. birlesim isareti klavyede Alt+124
print("a3 ile b3 nin birlesimi: ", a3.union(b3)) # a ile b nin birlesimi

{'r', 'l', 'c', 'z', 'm', 'd', 'a', 'b'}
a3 ile b3 nin birlesimi:  {'r', 'l', 'c', 'z', 'm', 'd', 'a', 'b'}
a3 ile b3 nin birlesimi:  {'r', 'l', 'c', 'z', 'm', 'd', 'a', 'b'}

In [4]:
# kesisim islemi

a4 = set('abracadabra')
b4 = set('alacazam')

kesisim1 = a4.intersection(b4)
print(kesisim1)
print(bool(kesisim1))  # kesisim kumesi dolu oldugu icin bool donusumu True degeri dondu. bos olsaydı False donecekti

kesisim2 = a4 & b4
print(kesisim2)
print(bool(kesisim2))  


print("a4 ile b4 nin kesisimi: ", a4 & b4)  # '.intersection()' methodu ile ayni sonucu verir.
print("a4 ile b4 nin kesisimi: ", a4.intersection(b4)) # a ile b nin kesisimi

{'a', 'c'}
True
{'a', 'c'}
True
a4 ile b4 nin kesisimi:  {'a', 'c'}
a4 ile b4 nin kesisimi:  {'a', 'c'}

In [206]:
# silme ve ekleme islemi

a5 = set('abracadabra')
print(a5)
print(len(a5))

a5.remove('c') # c yi set'den silelim
print(a5)
print(len(a5))

a5.add('c') # c yi tekrar set'e ekleyelim
print(a5)
print(len(a5))

{'r', 'c', 'd', 'a', 'b'}
5
{'r', 'd', 'a', 'b'}
4
{'r', 'c', 'd', 'a', 'b'}
5

In [207]:
# set'in icinde birseyin olup olmadigina bakalim

a6 = set('abracadabra')
print(a6)

print('c' in a6) 
print('w' not in a6)
print('w' in a6)

{'r', 'c', 'd', 'a', 'b'}
True
True
False

In [214]:
print('m' in birlesim) 
print('a' in kesisim)

True
True